@model IntroToMVCW23.Models.TodoList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TodoList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>

<div>
    <ul>
        @foreach(TodoItem i in Model.Items)
        {
            <li>
                @i.Title @if(i.Completed != true) 
                {   
                    <span>Not</span>
                } <span>Completed</span> | 
                <form asp-action="SwitchItemStatus" 
                    asp-route-itemId="@i.Id" 
                    method="post">
                    <input type="submit" value="Switch Status" />
                </form>
            </li> 
        }
    </ul>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
